@import 'src/styles/variables';
@import 'src/styles/mediaQueries';

.btn {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  color: $white;
  background: $orange;
  border: 1px solid $orange;
  border-radius: $radius-s;
  padding: 8px 16px;
  width: 10rem;

  &.invert {
    color: $orange;
    background: $background;
    border: 1px solid $orange;
  }

  @include breakpoint-max(phoneMax) {
    font-size: 0.75rem;
  }

  // &:disabled {
  //   pointer-events: none;
  //   border: 1px solid $silver;
  //   color: $silver;
  //   background-color: transparent;
  // }
}
