@import 'src/styles/variables';
@import 'src/styles/mediaQueries';

.taxonomies_action_btn_wrapper {
  display: flex;
  justify-content: flex-end;
  @include breakpoint-max(phoneMax) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    .save_btn {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.create_btn_wrapper {
  text-align: center;
}

.create_btn {
  width: 320px;
  margin-top: 3rem;
}
