// Fonts
$font-family: 'Inter', sans-serif;

// colors
$background: rgb(18, 18, 18);
$orange: rgb(255, 109, 77);
$white: rgb(255, 255, 255);
$violet: #813ffc;
$dark-grey: #292929;
$grey: #727272;
$blue-white: #dae3ea;
$black: #000000;
$green: #1de783;
$red: #ff0000;

// radius
$radius-l: 20px;
$radius-m: 11px;
$radius-s: 5px;
