/* [Variables] */

// Fonts
$font-family: 'Inter', sans-serif;

// colors
$dark-background: #1e1e1e;
$orange: #ff6d4d;
$white: #ffffff;
$violet: #813ffc;
$dark-grey: #292929;
$blue-white: #dae3ea;
$black: #000000;
$green: #1de783;
$red: #ff0000;
