/*[Imports]*/
@import './reset';
@import './variables';
@import './mediaQueries';

// for spacing and sizing consistency across the app we use rem (e.g. 1rem = 16px)
body {
  background-color: $background;
  color: $white;
  font-size: 1rem;
  // padding: 2rem 3rem;
}
