/*[Imports]*/
@import './reset';
@import './variables';
@import './mediaQueries';

// for spacing and sizing consistency across the app we use rem (e.g. 1rem = 16px)
body {
  background-color: $background;
  color: $white;
  font-size: 1rem;
}

main {
  padding: 0rem 3rem;
  @include breakpoint-max(phoneMax) {
    padding: 0rem 1.5rem;
  }
}

.orange_link {
  color: $orange;
  text-decoration: underline;
  font-size: 1rem;
  @include breakpoint-max(phoneMax) {
    font-size: 0.8rem;
  }
}

.blue_white_link {
  color: #dae3ea;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.filler {
  flex: 1;
}

.muted_text_small {
  font-size: 0.8rem;
  color: rgba($white, 0.6);
}

//  FORMS GLOBALS
.input_wrapper {
  margin-bottom: 2rem;
}

.form_label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
  &[data-required='required']::after {
    content: '*';
    color: $white;
    padding-left: 5px;
  }
}

.form_input {
  font-size: 1rem;
  background: $dark-grey;
  border-radius: $radius-s;
  border: none;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  width: 100%;
  color: $white;
  &:focus {
    outline: 1px solid $orange;
  }
  &::placeholder {
    color: rgba($white, 0.6);
    font-size: 0.9rem;
  }
  @include breakpoint-max(phoneMax) {
    font-size: 0.8rem;
    &::placeholder {
      font-size: 0.8rem;
    }
  }
}
.form_textarea {
  font-size: 1rem;
  background: $dark-grey;
  border-radius: $radius-s;
  border: none;
  padding: 0.5rem 1rem;
  min-height: 150px;
  width: 100%;
  color: $white;
  resize: none;
  &:focus {
    outline: 1px solid $orange;
  }
  &::placeholder {
    color: rgba($white, 0.6);
    font-size: 0.9rem;
  }
}

.single_row_form {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  align-items: flex-end;
  gap: 2rem;
  @include breakpoint-max(phoneMax) {
    display: revert;
    margin-bottom: 1rem;
  }
}

.single_input {
  width: 300px;
  @include breakpoint-max(phoneMax) {
    width: 100%;
  }
}

.number_input {
  width: 180px;
  appearance: textfield;
  @include breakpoint-max(phoneMax) {
    width: 100%;
  }
}

// input[type='number']::-webkit-outer-spin-button,
// input[type='number']::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   background: red;
//   color: red;
//   width: 1em;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
// }
// input[type='number']::-webkit-inner-spin-button:hover,
// input[type='number']::-webkit-inner-spin-button:active {
//   box-shadow: 0 0 2px #0cf;
//   opacity: 0.8;
// }
// input[type='number'] {
//   -webkit-appearance: textfield;
//   -moz-appearance: textfield;
//   appearance: textfield;
// }

// input[type='number']::-webkit-inner-spin-button,
// input[type='number']::-webkit-outer-spin-button {
//   -webkit-appearance: none;
// }

.checkBox_input {
  width: 170px;
}

// EDITORS GLOBALS
.editors_action_btn_wrapper {
  display: flex;
  justify-content: flex-end;
  @include breakpoint-max(phoneMax) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    .save_btn {
      margin-top: 1rem;
      width: 100%;
    }
  }
}

.create_btn_wrapper {
  text-align: center;
}

#create_btn {
  width: 320px;
  margin-top: 3rem;
}
