/*[Imports]*/
@import './reset';
@import './variables';
@import './mediaQueries';

// for spacing and sizing consistency across the app we use rem (e.g. 1rem = 16px)
body {
  background-color: $background;
  color: $white;
  font-size: 1rem;
}

main {
  padding: 0rem 3rem;
  @include breakpoint-max(phoneMax) {
    padding: 0rem 1.5rem;
  }
}

.orange_link {
  color: $orange;
  text-decoration: underline;
  font-size: 1rem;
  @include breakpoint-max(phoneMax) {
    font-size: 0.8rem;
  }
}

.filler {
  flex: 1;
}
