@import 'src/styles/mediaQueries';

.row_form {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  gap: 2rem;
  @include breakpoint-max(phoneMax) {
    display: revert;
    margin-bottom: 1rem;
  }
}

.single_input {
  width: 300px;
  @include breakpoint-max(phoneMax) {
    width: 100%;
  }
}

.btn_text {
  font-size: 0.9rem;
}

.action_btn_wrapper {
  width: 55px;
}
