@import 'src/styles/variables.scss';

.modal_overlay {
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: auto;
  overflow-x: hidden;
  background: rgba($black, 0.8);
  backdrop-filter: blur(8px);
}

.modal {
  position: fixed;
  background-color: $orange;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  border-radius: $radius-l;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 520px;
  height: 250px;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hourglass_wrapper {
  margin: auto;
  width: fit-content;
  margin-bottom: 1rem;
  animation: 15s rotate ease infinite;
}

.triangle_up {
  background: $background;
  width: 130px;
  height: 70px;
  clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
  background: linear-gradient(
    to bottom,
    $background 50%,
    rgba($white, 0.8) 50%
  );
  background-size: 200% 200%;
  background-position: top;
  animation: colorFill 15s ease infinite;
}
.triangle_down {
  width: 130px;
  height: 70px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: linear-gradient(to top, rgba($white, 0.8) 50%, $background 50%);
  background-size: 200% 200%;
  background-position: bottom;
  animation: colorFillInvert 15s ease infinite;
}

@keyframes colorFill {
  0% {
    background-position: bottom;
  }

  100% {
    background-position: top;
  }
}
@keyframes colorFillInvert {
  0% {
    background-position: top;
  }

  100% {
    background-position: bottom;
  }
}

@keyframes rotate {
  0% {
    transform: none;
  }

  90% {
    transform: none;
  }

  100% {
    transform: rotate(180deg);
  }
}
