@import 'src/styles/variables.scss';
@import 'src/styles/mediaQueries.scss';

.entries_list_section {
  padding-bottom: 2rem;
}

.actions_buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  width: fit-content;
}

.trigger_button {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  color: $white;
  background: $orange;
  border: 1px solid $orange;
  border-radius: $radius-s;
  padding: 8px 16px;
  width: 10rem;

  @include breakpoint-max(phoneMax) {
    font-size: 0.75rem;
  }
}

.select_wrapper {
  margin-bottom: 2.5rem;
}

.select {
  & :global(.singleChip) {
    color: $white !important;
    font-size: 1rem !important;
    font-weight: 500;
    border: 1px solid $orange;
  }

  & :global(.searchBox) {
    border: 1px solid $orange;
  }
}
